server {
  listen                  80;
  listen                  [::]:80;

  server_name             {{site_name}};
  server_tokens           off;

  error_log               /var/log/nginx/{{site_name}}.error.log;
  access_log              /var/log/nginx/{{site_name}}.access.log main buffer=16k;
  access_log              /var/log/nginx/{{site_name}}.traffic.log traffic buffer=16k;

  root /var/www/{{site_name}}/htdocs;
  index index.php index.html index.htm;

  location / {
    try_files $uri $uri/ /index.php$is_args$args;
  }

  location ~ \.php$ {
    try_files $uri               =404;
    fastcgi_split_path_info      ^(.+\.php)(/.+)$;
    fastcgi_index                index.php;
    fastcgi_param                SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_pass                 unix:/var/run/{{site_name}}.sock;
    fastcgi_send_timeout         60;
    fastcgi_read_timeout         60;
    fastcgi_buffer_size          128k;
    fastcgi_buffers              4 256k;
    fastcgi_busy_buffers_size    256k;
    fastcgi_temp_file_write_size 256k;
    fastcgi_connect_timeout      30s;
    include fastcgi_params;
  }
}
